# MLflow
mlruns/
mlflow.db

# Model weights
*.pt
*.pth
*.onnx

# Python cache
__pycache__/
.ipynb_checkpoints/

# Images / dataset
data/
AI/data/u
AI/mixture_data/
AI/*/.env

# VScode
.vscode

# Back/bin
back/NutriCare_SSAFY/bin/