<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nutricare.model.dao.RefreshTokenDao">

    <insert id="insertToken" parameterType="RefreshToken">
        INSERT INTO refresh_token (user_id, token_value, expiry_date)
        VALUES (#{userId}, #{tokenValue}, #{expiryDate})
    </insert>

    <select id="findByUserId" parameterType="long" resultType="RefreshToken">
        SELECT * FROM refresh_token WHERE user_id = #{userId}
    </select>

    <update id="updateToken" parameterType="RefreshToken">
        UPDATE refresh_token 
        SET token_value = #{tokenValue}, expiry_date = #{expiryDate}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteByUserId" parameterType="long">
        DELETE FROM refresh_token WHERE user_id = #{userId}
    </delete>

</mapper>